<p>Here's the grid! Please pick a Grid Point from 1-9 :) </p>

<p><%= @grid_points.join %></p>

<form action="/game/<%= @grid_state %>">
  <button type="submit" name="point" value=01>Grid Point One</button> 
  <button type="submit" name="point" value=02>Grid Point Two</button> 
  <button type="submit" name="point" value=03>Grid Point Three</button> 
  <button type="submit" name="point" value=04>Grid Point Four</button> 
  <button type="submit" name="point" value=05>Grid Point Five</button> 
  <button type="submit" name="point" value=06>Grid Point Six</button> 
  <button type="submit" name="point" value=07>Grid Point Seven</button> 
  <button type="submit" name="point" value=08>Grid Point Eight</button> 
  <button type="submit" name="point" value=09>Grid Point Nine</button> 
</form>

