<p>Here's the grid! Please pick a square from 1-2!</p>

<p><%= [@point_one,@point_two].join %></p>

<form action="/game">
  <button type="submit" name="point_one" value=true>Grid Point One</button> 
</form>

<form action="/game">
  <button type="submit" name="point_two" value=true>Grid Point Two</button> 
</form>

