<html>
  <head>
    <title> Devlin's Battleships Project </title>
    <style type="text/css">
body {
  margin-left: 20%;
  margin-right: 20%;
  border: 2px dotted black;
  padding: 10px 10px 10px 10px;
  font-family: Roboto;
}
    </style>
  </head>
  <body> 
    <%= yield %>
  </body>
</html>
