
<p>You have <%= session[:guesses_left]%> guess(es) left to hit <%= session[:boats_left] %> boat(s).</p>

<p> Here's the grid! </p>
<%= session[:game_grid].grid.join%>

<p>Please pick a grid point from 1-25 :) </p>

<form>
  <input type="text" name="user_input">
</form>

