<h1>Welcome to battleships! </h1>
<p>
  The aim of the game is to sink all the boats hiding in the grid. <br>
  Each turn, you will pick a grid coordinate to attack and you'll be shown if it was a hit or a miss. <br>
  Boats are from 1 to 4 squares in length and may be stationed vertically or horizontally. <br>
  I'll even tell you when you have sunk an entire boat! <br>
  <em>Good luck!</em>
</p>

<form action="/play_game">
  <button type="submit">Let's go!</button> 
</form>
